<!DOCTYPE html>
<html>

<head>
    <title>JailGuardian-Home</title>
    <style>
        @import url("/static/dashboard.css");
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/main.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <header style="background-color: #000000;">
            <img class="logo" src="/static/logo.png" alt="JailGuardian Logo">
            <nav class="menu">
                <ul>
                    <li><a onclick="changeTab(0)">Add</a></li>
                    <li><a onclick="changeTab(1)">Search</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <div style="position: relative;top:30px">
                    <span style="font-weight: bold; margin-right: 5px;">Welcome,</span>
                    <span>{{user}}</span>
                </div>
            </nav>
        </header>
    </div>

    <div id="tabs">
        <div class="tab-button active" onclick="changeTab(0)">ADD</div>
        <div class="tab-button" onclick="changeTab(1)">SEARCH</div>
    </div>

    <div class="tab-content active">
        <div id="successMessage" style="display: none;">
            <h3>Success!</h3>
            <p>New inmate added successfully!.</p>
        </div>

        <div id="errorMessage" style="display: none;">
            <h3>Error!</h3>
            <p>An error occurred while adding new inmate.</p>
        </div>

        <div class="form-container">
            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-field">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob">
            </div>
            <div class="form-field">
                <label for="adhar">Adhar Number:</label>
                <input type="text" id="adhar" name="adhar">
            </div>
            <div class="form-field">
                <label for="nationality">Nationality:</label>
                <input type="text" id="nationality" name="nationality">
            </div>
            <div class="form-field">
                <label for="state">State:</label>
                <input type="text" id="state" name="state">
            </div>
            <div class="form-field">
                <label for="address">Address:</label>
                <textarea id="address" name="address" rows="4"></textarea>
            </div>
            <div class="form-field">
                <label for="ipc">IPC Section:</label>
                <input type="text" id="ipc" name="ipc">
            </div>
            <div class="form-field">
                <label for="jail-type">Jail Type:</label>
                <select id="jail-type" name="jail-type" onchange="updateJailDropdown()">
                    <option value="central">Central Jail</option>
                    <option value="district">District Jail</option>
                    <option value="sub-jail">Sub Jail</option>
                </select>
            </div>
            <div class="form-field" id="jail-location-field" style="display: none;">
                <label for="jail-location">Jail Location:</label>
                <select id="jail-location" name="jail-location"></select>
            </div>
            <div class="form-field">
                <label for="jail-count">Number of Times in Jail:</label>
                <input type="number" id="jail-count" name="jail-count">
            </div>
            <div class="form-submit">
                <button type="submit" id="submitData">Submit</button>
            </div>
        </div>
    </div>

    <div class="tab-content" id="fix">
        <div id="successMessage1" style="display: none;">
            <h3>Success!</h3>
            <p>Updated Data!</p>
        </div>
        <div id="errorMessage1" style="display: none;">
            <h3>Error!</h3>
            <p>An error occurred while updating.</p>
        </div>
        <div id="searchSection">
            <div class="form-container">
                <div class="form-field">
                    <label for="new-name">Name:</label>
                    <input type="text" id="new-name" name="new-name">
                </div>
                <div class="form-field">
                    <label for="new-dob">Date of Birth:</label>
                    <input type="date" id="new-dob" name="new-dob">
                </div>
                <div class="form-field">
                    <label for="new-adhar">Adhar Number:</label>
                    <input type="text" id="new-adhar" name="new-adhar">
                </div>
                <div class="form-field">
                    <label for="new-nationality">Nationality:</label>
                    <input type="text" id="new-nationality" name="new-nationality">
                </div>
                <div class="form-field">
                    <label for="new-state">State:</label>
                    <input type="text" id="new-state" name="new-state">
                </div>
                <div class="form-field">
                    <label for="address">Address:</label>
                    <textarea id="new-address" name="new-address" rows="4"></textarea>
                </div>
                <div class="form-field">
                    <label for="ipc">IPC Section:</label>
                    <input type="text" id="new-ipc" name="new-ipc">
                </div>
                <div class="form-field">
                    <label for="jail-type">Jail Type:</label>
                    <select id="new-jail-type" name="new-jail-type" onchange="updateJailDropdown2()">
                        <option value="central">--Not Selected--</option>
                        <option value="central">Central Jail</option>
                        <option value="district">District Jail</option>
                        <option value="sub-jail">Sub Jail</option>
                    </select>
                </div>
                <div class="form-field" id="new-jail-location-field" style="display: none;">
                    <label for="new-jail-location">Jail Location:</label>
                    <select id="new-jail-location" name="new-jail-location"></select>
                </div>
                <div class="form-submit">
                    <button type="submit" id="searchFor">Search</button>
                </div>
            </div>

        </div>
        <div id="search-result"></div>
        <div id="update">
            <div class="form-container">
                <button class='back-button' onclick='back_to_results()'>&#8592; Back to Results</button>
                <br><br>
                <p id="uid" style="display: none;"></p>
                <h1>Details Editor : </h1>
                <div class="form-field">
                    <label for="new1-name">Name:</label>
                    <input type="text" id="new1-name" name="new1-name">
                </div>
                <div class="form-field">
                    <label for="new1-dob">Date of Birth:</label>
                    <input type="date" id="new1-dob" name="new1-dob">
                </div>
                <div class="form-field">
                    <label for="new1-adhar">Adhar Number:</label>
                    <input type="text" id="new1-adhar" name="new1-adhar">
                </div>
                <div class="form-field">
                    <label for="new1-nationality">Nationality:</label>
                    <input type="text" id="new1-nationality" name="new1-nationality">
                </div>
                <div class="form-field">
                    <label for="new-state">State:</label>
                    <input type="text" id="new1-state" name="new1-state">
                </div>
                <div class="form-field">
                    <label for="address">Address:</label>
                    <textarea id="new1-address" name="new1-address" rows="4"></textarea>
                </div>
                <div class="form-field">
                    <label for="new1-ipc">IPC Section:</label>
                    <input type="text" id="new1-ipc" name="new1-ipc">
                </div>
                <div class="form-field">
                    <label for="jail-type">Jail Type:</label>
                    <select id="new1-jail-type" name="new1-jail-type" onchange="updateJailDropdown3()">
                        <option value="central">Central Jail</option>
                        <option value="district">District Jail</option>
                        <option value="sub-jail">Sub Jail</option>
                    </select>
                </div>
                <div class="form-field" id="new-jail-location-field">
                    <label for="new1-jail-location">Jail Location:</label>
                    <select id="new1-jail-location" name="new1-jail-location"></select>
                </div>
                <div class="form-field">
                    <label for="new1-jail-count">Number of Times in Jail:</label>
                    <input type="number" id="new1-jail-count" name="new1-jail-count">
                </div>
                <div class="form-submit">
                    <button type="submit" id="updateButton" onclick="updation()">Update</button>
                </div>
            </div>
        </div>
</body>

</html>